/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #f5f5f5;
}



/* navbar styles */
.navbar {
    background-color: #272643;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.navbar-left {
    flex: 2; /* Adjusted to move the logo more to the right */
}

.navbar-center {
    flex: 5; /* Adjusted to make the search bar wider */
}

.logo {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    width: 70%; /* Make the search input full-width */
    background-color: #fff; /* Background color for the input */
}

.search-input::placeholder {
    color: #999; /* Placeholder text color */
}

.search-form button {
    background-color: #272643; /* Background color for the button */
    border: none;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px 40px 10px 7px; /* Add padding to the button */
    cursor: pointer;
    color: #fff; /* Text color for the button */
}

.search-form button:hover{
    color: #7D7D91;
    transition: transform 0.6s ease-in-out;
}

/* Style the navigation links */
.navbar-links {
    list-style-type: none;
    display: flex;
    font-size: 15px;
}

.navbar-links li {
    margin-right: 30px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
    font-size: 17px;
}

/* Add hover effect */
.navbar-links a:hover {
    color: #7D7D91;
}

.navbar-links i {
    margin-right: 5px;
    transition: transform 0.6s ease-in-out;
}

/* Add hover animation to icons */
.navbar-links a:hover i {
    transform: scale(1.7); /* Scale the icon on hover */
}

/* Style the navigation bar for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar-left, .navbar-center, .navbar-right {
        flex: none;
    }

    .navbar-links {
        margin-top: 10px;
    }

    .navbar-links li {
        margin: 10px 0;
    }
}

 @media (max-width: 768px) {
            .navbar {
                flex-direction: column;
                text-align: center;
            }

            .navbar-left, .navbar-center, .navbar-right {
                flex: none;
            }

            .navbar-links {
                margin-top: 10px;
            }

            .navbar-links li {
                margin: 10px 0;
            }

            .logo {
                margin: 0; /* Remove left margin for the logo */
            }

            .search-form {
                margin-top: 10px; /* Add top margin for the search bar */
            }

            .search-form input[type="text"] {
                padding: 10px; /* Increase padding for the search input */
            }

            .search-form button {
                font-size: 18px; /* Decrease font size for the button */
                padding: 10px 20px; /* Adjust button padding */
            }
        }


        
/* Example styles for the "Categories" section */
maincats{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
.categories {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.categories h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.categories ul {
    list-style: none;
}

.categories ul li {
    margin: 5px 0;
    font-weight: bold;
}
ul#categories-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    width: border-box;
}

/* Example styles for the "Latest Discussions" section */
.discussions {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.discussions h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.discussions ul {
    list-style: none;
}

.discussions ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #0079d3;
}

.discussions ul li p {
    font-weight: normal;
    color: #333333;
}
ul#discussions-list li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}


/* Example styles for the "Chat Rooms" section */
mainchat{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
.chat-rooms {
    flex: 1;
    display: flex;
    padding: 1rem;
    background-color: #f0f0f0;
}

.chat-rooms ul {
    list-style: square;
    padding-top: 25px;
}

.chat-rooms ul li {
    cursor: pointer;
    padding: 0.5rem 0;
}

.chat-rooms ul li.selected {
    background-color: #ccc;
}

/* Example styles for the "Chat Window" section */
.chat-window {
    flex: 2;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.chat-messages {
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.message {
    margin-bottom: 1rem;
}

.message .sender {
    font-weight: bold;
}

.message .timestamp {
    font-size: 0.8rem;
    color: #888;
}

.message-input {
    display: flex;
    margin-top: 1rem;
}

.message-input input[type="text"] {
    flex: 1;
    padding: 0.5rem;
}

.message-input button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #555;
}

/* Example styles for the "User Profile" section */
.profile-header {
    background-color: #5289B5;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 auto;
}

.profile-username {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.profile-details {
    margin: 20px;
    text-align: center;
}

.profile-details p {
    margin: 10px 0;
}

/* Example styles for the "Profile Posts" section */
.profile-posts {
    background-color: #f1f1f1;
    padding: 20px;
}

/* Example styles for the "Posts" section */
.post {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
}

.post-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    font-size: 16px;
}

.post-footer {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}



/* Basic styles for the floating create post button */
.create-post-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin: 20px;
}

.create-post-button button {
    background-color: #272643;
    color: #fff;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect animation for the floating Create Post button */
.create-post-button button {
    background-color: #272643;
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.create-post-button button:hover {
    transform: scale(1.05);
    background-color: #53517a;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: #000;
}

.modal h2 {
    font-size: 26px;
    margin: 10px 0 20px 10px;
    color: #000;
}

.modal textarea {
    width: 95%;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #5289B5;
    font-size: 18px;
    margin-bottom: 20px;
    resize: none;
    outline: none;
}

.modal button {
    background-color: #272643;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0px 10px 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal button:hover {
    background-color: #53517a;
}

/* Add styles for post options and icons */
.post-options {
    display: flex;
    align-items: center;
    margin: 5px 0 20px;
}

.post-options label,
.post-options input[type="text"] {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
}

.post-options label i,
.post-options input[type="text"] i {
    margin-right: 5px;
}

/* Style the Font Awesome icons */
i.fas {
    font-size: 18px;
    color: #272643;
}

/* Style the input[type="file"] elements (hidden) */
input[type="file"] {
    display: none;
}

/* Add hover effect and animation to the buttons */
.post-options label,
.post-options input[type="text"],
.modal button {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    padding: 10px 20px; /* Keep the padding */
    border-radius: 10px; /* Keep the border radius */
}

/* Increase padding and make edges smoother when hovering */
.post-options label:hover,
.post-options input[type="text"]:hover,
.modal button:hover {
    transform: scale(1.05);
    background-color: #53517a;
    color: #fff;
}

.post-options label i,
.post-options input[type="text"] i,
.modal button i {
    margin-right: 5px;
}

/* Style the Font Awesome icons */
i.fas {
    font-size: 18px;
    color: #272643;
}

/* Style the input[type="file"] elements (hidden) */
input[type="file"] {
    display: none;
}



/* Footer styles */
footer {
    background-color: #272643;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5; /* Updated background color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ccc; /* Added a border */
    border-radius: 5px; /* Rounded corners */
}

.dropdown-content a {
    color: #333; /* Updated text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.dropdown-content a:hover {
    background-color: #ddd; /* Updated hover background color */
}

.dropdown:hover .dropdown-content {
    display: block;
}
